<div class="container">

    <!-- <div class="notification shadow" [ngClass]="
    {'success':vendingMachine.notificationType === 1, 
     'error': vendingMachine.notificationType === 2,
    'close': notificationHidden}">
        {{ vendingMachine.message}}
    </div> -->

    <h2 class="text-white">Funds: {{funds$ | async | currency}}</h2>
    <div class="row">
        <div class="vending-machine">

            <ng-container>
                <div class="can" *ngFor="let can of cans"></div>
            </ng-container>
            <div class="tag red text-white shadow">
                Each Can {{unitPrice$ | async | currency}}
            </div>
        </div>

        <div class="control-panel">
            <form>
                <section>
                    <h3>Buy a drink</h3>
                    <div class="group">
                        <label>Quantity</label>
                        <input class="form-control" name="quantity" type="number" [(ngModel)]="vmPurchaseModel.quantity"
                            required>
                    </div>
                    <div class="group">
                        <label>Payment</label>
                        <input class="form-control" name="amount" placeholder="$" type="number" required
                            [(ngModel)]="vmPurchaseModel.amount">
                    </div>
                    <div class="group">
                        <label>Change</label>
                        <input class="form-control" name="rtnChange" class="grey" placeholder="$" type="text" readonly>
                    </div>
                </section>
                <button class="btn green text-white right shadow" (click)="onSubmitPurchase()">Buy</button>
            </form>
            <form #refillForm>
                <section>
                    <h3>Refill cans</h3>
                    <label>Number of cans</label>
                    <input class="form-control" name="refillQty" type="number" min="1" required
                        [(ngModel)]="vmRefillModel" />
                </section>
                <button class="btn yellow text-black right shadow" (click)="onRefill()">Refill</button>
            </form>
        </div>
    </div>